.container h1 {
  margin-top: 18px;
  font-family: 'Sassy Frass', cursive;
  font-size: 50px;
}
#about-us-p {
  font-size: 11px;
  color: black;
  /* position: absolute;
  bottom: 0;
  left: 0; */
}
.about-us-container h4 {
  font-size: 18px;
  color: orange;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
}
.about-us-container {
  /* border: 1px solid red; */
  background-image: url("/images/photo-about-us-background.avif");
  background-size: cover;
  /* height: 350px; */
  background-position: center center;
  background-repeat: no-repeat;
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: black;
  /* position: relative; */
  padding: 30px;
  margin: 40px 0 40px 0;
  border-radius: 10px;
}
.about-us-container h3, p{
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.our-services-container {
  /* background-image: url("https://images.unsplash.com/photo-1506749841726-3df2e72b9564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  padding: 30px;
  margin: 40px 0 40px 0;
  border-radius: 10px;
}
.our-services-container h4 {
  font-size: 18px;
  color: white;
  background-color: rgba(243, 179, 30, 0.7);
  border-radius: 10px;
  padding: 10px;
}
.advice-on-how-to-paint {
  font-size: 14px;
  color: white;
  background-color: rgb(30, 106, 106);
  border-radius: 10px;
  padding: 20px;
}
.advice-on-how-to-paint h5 {
  margin-bottom: 20px;
}
.advice-on-how-to-paint #advice-contact {
  background-color: #828a25;
  color: white;
  padding: 13px;
  border-radius: 20px;
}
.pop-up-container {
  position: fixed;
  top: 10%;
  right: 0%;
  transform: translate(-10%, -50%);
  border-radius: 10px;
  z-index: 10;
  color: white;
  padding: 8px;
  /* display: none; */
  background-color: #828a25;
  display: none;
  transition: transform 330ms ease-in-out;
}
#pop-up {
  color: white;
}
#close {
  position: absolute;
  color: black;
  top: -20%;
  left: -3%;
  bottom: 80%;
  background-color: whitesmoke;
  border-radius: 2px;
  padding: 3px;
   font-size: 10px;
  /* margin-right: 10px;  */
}
