
.container {
  text-align: center;
  /* border: 1px solid red; */
}
#telephone {
  background-color: rgb(20, 20, 131);
  color: white !important;
  padding: 10px;
  border-radius: 18px;
  color: black;
  font-family: 'Raleway', sans-serif !important;
  font-weight: bolder;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#telephone a {
  color: whitesmoke;
}
#word-color {
  color: #828a25;
}
#slogan {
 font-size: 48px;
 font-family: 'Sassy Frass', cursive;
 color: green;
}
.side-container-info {
  list-style-type: none;
}
.side-container-info ul{
  text-decoration: none;
  font-size: 9px;
}
.side-container-info h4 {
  font-size: 15px;
  margin-bottom: 30px;
}
.important-information {
  width: 80%;
  font-size: 9px;
  border-radius: 9px;
  margin-top: 20px;
  padding: 0 5px 0 5px;
  margin: 0 auto;
}
.just-line {
  margin: 20px;
  border: 1px solid black;
}
.inner-second-container {
  margin: 12px -12px -12px -12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
