.container {
  text-align: center;
  /* border: 1px solid red; */
}
#slogan {
 font-size: 48px;
 font-family: 'Sassy Frass', cursive;
 color: green;
}
.side-container-reviews {
 background-color: #828a25;
}
.side-container-reviews h4 {
  font-size: 15px;
}
.side-container-reviews p {
  font-size: 9px;
}
