.container {
  text-align: center;
  /* border: 1px solid red; */
}
#slogan {
 font-size: 48px;
 font-family: 'Sassy Frass', cursive;
 color: green;
}
.side-container-info {
  list-style-type: none;
}
.side-container-info ul{
  text-decoration: none;
  font-size: 9px;
}
.side-container-info h4 {
  font-size: 15px;
  margin-bottom: 30px;
}
